.box {
  background-color: #262e94;
  width: 250px;
  height: 500px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 50px;
  display: grid
}

.grid-parent {
  display: grid
}
