body {
  background-color: mediumaquamarine;
  color: darkcyan;
  text-align: center;
}
h1 {
  color: darkcyan;
  text-align: center;
  font-size: 72px;
  font-weight: bold
}
p {
  color: darkcyan;
  text-align: center;
}
.navrow {
  display: inline-block;
}
.navButton {
  background-color: darkcyan;
  color: mediumaquamarine;
  width: 100px;
  height: 50px
